* {
  margin: 0;
  padding: 0;
}

article {
  border: 5px solid black;
  font-family: sans-serif;
  width: 800px;
  margin: 50px auto;
}

article h2 {
  text-align: center;
  background-color: #dddddd;
  padding: 20px;
}

li {
  margin: 10px 20px;
}

p {
  line-height: 1.6;
  font-weight: bold;
}

.price {
  font-size: 24px;
  font-weight: bold;
}

.details {
  margin-top: 5px;
}

.capitals {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(145, 145, 145);
  font-size: 13px;
  margin-bottom: 20px;
}

.titles {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
}

/* BUTTONS */

.buttoms {
  border: none;
  background-color: black;
  color: #dddddd;
  font-size: 14px;
  cursor: pointer;
  padding: 15px;
  width: 100%;
}

.buttoms:hover {
  border: none;
  background-color: #dddddd;
  color: black;
  border-top: solid black 4px;
}

/* LINKS */

.linkstyle {
  color: black;
}

.linkstyle:hover {
  text-decoration: none;
}

.color {
  margin: 15px 3px;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.color:first-child {
  margin-left: 0;
}

.negro {
  background-color: black;
}

.azul {
  background-color: blue;
}

.rojo {
  background-color: red;
}

.amarillo {
  background-color: yellow;
}

.verde {
  background-color: green;
}

.cafe {
  background-color: brown;
}

.sale-parent {
  position: relative;
  font-family: sans-serif;
}

.sale-child {
  color: aliceblue;
  background-color: red;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -34px;
  letter-spacing: 3px;
  border: solid black 3px;
}
