* {
  margin: 0;
  padding: 0;
}

article {
  border: 5px solid black;
  font-family: sans-serif;
  width: 800px;
  margin: 50px auto;
}

article h2 {
  text-align: center;
  background-color: #dddddd;
  padding: 20px;
}

li {
  margin: 10px 20px;
}

p {
  line-height: 1.6;
}

.buttom-add {
  width: 800px;
}

.capitals {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(145, 145, 145);
  font-size: 13px;
}

.titles {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
}

/* BUTTONS */

.buttoms {
  border: none;
  background-color: black;
  color: #dddddd;
  font-size: 14px;
  cursor: pointer;
  padding: auto;
}

.buttoms:hover {
  border: none;
  background-color: #dddddd;
  color: black;
}

/* LINKS */

.linkstyle {
  color: black;
}

.linkstyle:hover {
  text-decoration: none;
}
